.main-page {
	padding: 32px;
	background-color: var(--container-color);
	margin: 0 20px;
	align-items: flex-start;
}

.mainpage-container{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 8px 0px;
}

.forms-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	gap:8px;
}

.main-form-button{
	width: 89px;
	height: 89px;
	display: flex;
	align-items: center;
	justify-content: center;

}